<div id="console">
  <pre id="console-output">
    <%= @match_session.log %>
  </pre>
  <div class="form-inline">
    <div class="form-group">
      <label for="console-input"><%= @char.name %># - </label>
      <input id="console-input" data-user="Mestre"  data-url="<%= match_sessions_run_code_path(@game, @match_session) %>"
                type="text" class="form-control">
    </div>
  </div>
</div>
