<div id="console">
  <pre id="console-output">
    <%= @match_session.log %>
  </pre>
  <div class="form-inline">
    <div class="form-group">
      <label for="console-input"><%= @char.name %># - </label>
      <input id="console-input" data-game="<%= @game.id %>" data-session="<%= @match_session.id %>"
                type="text" class="form-control">
    </div>
  </div>
</div>
