<header class="page-header text-center">
  <h2><%= match_status(@match_session) %></h2>
</header>

<div class="row">
  <% if @match_session.battle %>
    <div class="panel panel-default col-xs-12">
      <div class="panel-heading">Batalha</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>id</th>
              <th>Nome</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: 'char_battle', collection: @match_session.battle.characters %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
