<header class="page-header text-center">
  <h2><%= match_status(@match_session) %></h2>
</header>

<h4><%= @match_session.map.name %></h4>
<div class="map-box" data-map="#json_map"></div>

<input type="hidden" id="json_map" value="<%= @match_session.map.json_map %>">
