<div class="page-header text-center">
  <h1><%= @breed.name %></h1>
</div>

<p>
  <strong>Descrição:</strong>
  <p><%= @breed.description %></p>
</p>

<%= link_to 'Editar', edit_match_history_breed_path(@breed), class: 'btn btn-primary' %>
<%= link_to 'Back', [:match, @history], class: 'btn btn-default' %>
