<tr>
  <td>
    <%= link_to match_game_path(game) do %>
      <span class="glyphicon glyphicon-eye-open"></span> <%= game.name %>
    <% end %>
  </td>
  <td>
    <%= link_to edit_match_game_path(game), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-eye-open"></span> Editar
    <% end %>
    <%= link_to  match_game_path(game), class: 'btn btn-danger', method: :delete do %>
      <span class="glyphicon glyphicon-eye-open"></span> Deletar
    <% end %>
  </td>
</tr>
