<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Nome</th>
      <th>adicional</th>
    </tr>
  </thead>
  <tbody>
    <%= render @character.breed.particulars %>
  </tbody>
</table>
