<div class="page-header text-center">
  <h2>Novo <%= @type %></h2>
</div>

<%= render partial: 'form', locals: { url: gm_match_characters_path(@game.id, @type),
                                      submit: "Criar #{@type}"} %>
