<%= simple_form_for [:profile, current_user], html: { multipart: true }  do |f| %>
  <div id="box-image-preview" class="col-md-4 col-xs-12">
    <div class="input-field image_preview">
      <div id="avatar" class="box-image center">
        <%= image_tag current_user.avatar.url, class: 'file_preview active' %>
        <%= f.input :avatar, required: false, label: false, input_html: {id: 'image'} %>
      </div>
    </div>
    <div class="text-box text-center">
      <%= f.submit 'Atualizar', class: 'btn btn-primary' %>
      <p class="text-input">Clique na imagem para alterá-la</p>
    </div>
  </div>
<% end %>
