<% provide :title, 'Buscar amigos' %>
<% provide :header, 'Buscar amigos' %>

<%= render 'form_search' %>

<% unless @users.empty? %>
  <%= render 'table' %>
<% else %>
  <div class="text-center">
    <span>Nenhum resultado</span>
  </div>
<% end %>
