<div class="container">
  <header class="page-header text-center clearfix">
    <h3>Mapas</h3>
    <div class="pull-right">
      <%= link_to 'Novo Mapa', new_match_history_map_path(@history), class: 'btn btn-primary' %>
    </div>
  </header>

  <div class="">
    <ul>
      <% @maps.each do |map| %>
        <li><%= link_to map.id, edit_match_history_map_path(@history, map) %></li>
      <% end %>
    </ul>
  </div>
</div>
