<div class="container-fluid">
  <div class="row">
    <div class="map-box col-md-9" data-map="#map_json_map"></div>
    <div class="form-map-box col-md-2">
      <%= render 'form' %>
    </div>
  </div>
</div>
