<table id="table-items" class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'profile/players/user', collection: @users %>
  </tbody>
</table>
