// Place all the styles related to the match/maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-box {
  overflow: auto;
}

table.map {
  border: 1px solid black;

  th, td {
      padding: 10px;
      border: 1px solid black;
  }
}

.form-box {
  border-left: 1px solid black;
}
