<tr>
  <td>
    <% if controller.is_a? Match::GamesController %>
      <%= history.title %>
    <% else %>
      <%= link_to history.title, [:match, history] %>
    <% end %>
  </td>
  <td>
    <%= history.user.name %>
  </td>

  <td>
   <%= correct_table_column(@game, history) %>
  </td>
</tr>
