<% provide(:header, "Histórias disponívels") %>

<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h4 class="pull-left">Histórias</h4>
    <%= link_to "Voltar", [:match, @game],
        class: "btn btn-primary pull-right" %>
  </div>

  <div class="panel-body">
    <table id="table-histories" class="table table-hover">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Criador</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @histories %>
      </tbody>
    </table>
  </div>
</div>
