<% provide(:header, "Minhas histórias") %>

<div class="panel panel-default">
  <div class="panel-body">
    <table id="table-histories" class="table table-hover">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Criador</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @histories %>
      </tbody>
    </table>
  </div>
</div>
