<div class="container">
  <%= simple_form_for [:match, @history] do |f| %>
    <div class="row">
      <div class="col-md-6 col-md-push-3 col-xs-12 page-header">
        <%= f.input :title %>
      </div>
    </div>

    <%= f.input :content, as: :bootsy, label: false, input_html: { rows: 20 } %>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
