<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#">História</a>
  </li>
  <li role="presentation" id="maps">
    <%= link_to 'Mapas', match_history_maps_path(@history), remote: true %>
  </li>
  <li role="presentation" id="breeds">
    <%= link_to 'Raças', match_history_breeds_path(@history), remote: true %>
  </li>
  <li role="presentation" id="characters">
    <%= link_to 'Personagens', match_history_characters_path(@history), remote: true %>
  </li>
</ul>

<section id="tab-content">
  <%= render 'show_history' %>
</section>
