<tr>
  <td>
    <%= link_to challenge.name, [:profile, @game, @history, challenge] %>
  </td>

  <td>
    <%= link_to('Editar', edit_profile_game_history_challenge_path(@game, @history, challenge),
                           class: "btn btn-primary") %>

    <%= link_to('Excluir', profile_game_history_challenge_path(@game, @history, challenge),
                           method: :delete,
                           class: "btn btn-danger") %>
  </td>
</tr>
