<% provide(:header, "Partida #{@game.name} - Novo Item") %>
<% provide(:title, "Partida #{@game.name}|Items") %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
