<% provide(:header, "Partida #{@game.name} - Editar Desafio #{@challenge.name}") %>
<% provide(:title, "Partida #{@game.name}|Desafios") %>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
