<!-- Modal -->
<div class="modal fade" id="history-<%= history.id %>"
      tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center"><%= history.title %></h4>
      </div>
      <div class="modal-body">
        <%= history.content.html_safe %>
      </div>
      <div class="modal-footer">
        <h4 class="modal-title text-center">Mapas</h4>
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">id</th>
              <th class="text-center">Nome</th>
            </tr>
          </thead>
          <tbody>
            <%= render history.maps %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
