<header class="page-header text-center">
  <h2><%= match_status(@match_session) %></h2>
</header>

<div class="row">
  <div class="panel panel-default col-md-6 col-xs-12">
    <div class="panel-heading">Histórias</div>
    <div class="panel-body">
      <ul class="list-group">
        <%= render @match_session.game.histories %>
      </ul>
    </div>
  </div>

  <div id="battle" class="col-md-6 col-xs-12">
    <% unless @match_session.battle.nil? %>
      <div class="panel panel-default">
        <div class="panel-heading">Batalha</div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>id</th>
                <th>Nome</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'match/dashboard/char_battle', collection: @match_session.battle.characters %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'modals', collection: @match_session.game.histories, as: :history %>
