<header class="page-header text-center">
  <h2><%= match_status(@match_session) %></h2>
</header>

<div class="row">
  <div class="panel panel-default col-md-6 col-xs-12">
    <div class="panel-heading">Histórias</div>
    <div class="panel-body">
      <ul class="list-group">
        <%= render @match_session.game.histories %>
      </ul>
    </div>
  </div>
</div>

<%= render partial: 'modals', collection: @match_session.game.histories, as: :history %>
