/*****************************************************
  Footer always on bottom
*****************************************************/
html, body {
  height: 100%;
}

main {
  min-height: 100%;
}

#content {
  overflow:auto;
  padding-bottom: 50px; /* this needs to be bigger than footer height*/
}

.profile #content, .no-footer #content {
  padding-bottom: 0;
}

footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  background-color: $gray-lighter;
  clear:both;
  padding-top:20px;
}

/*****************************************************
  image-preview file input
*****************************************************/

#box-image-preview .input-field{
  position: relative;

  .form-group {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  #image {
    height: 100% !important;
    width: 100% !important;
    display: block !important;
    opacity: 0 !important;
    overflow: hidden !important;
  }
}
/*****************************************************
  Layouts
*****************************************************/
.divider {
  width: 100%;
  border-bottom: 1px solid black;
  margin: 20px 0;
}
