<li class="list-group-item clearfix">
  <%= history.title %>
  <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#history-<%= history.id %>">
    Detalhes
  </button>
</li>
