<p>Ola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos aqui para informar que você tentou mudar seu email para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos aqui para informar que voCê mudou seu email para <%= @resource.email %>.</p>
<% end %>
