<p>Ola <%= @resource.email %>!</p>

<p>Foi requisitado para ressetar sua senha, caso você tenha feito isso por favor clique no link abaixo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Caso não foi você, por favor ignore esse email.</p>
