// Place all the styles related to the gm_match/session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#session {
  .panel {
    padding: 0;
  }
}

#console {
  width: 1050px;
  margin: 10px 0;

  pre {
    max-height: 250px;
    overflow: auto;
    margin: 0;
  }
}

#map-modal .modal-dialog {
  margin: 30px 0 0 100px;
  width: 1100px;

  .modal-body {
    padding: 10px;
  }
}

#sidebar {
  .btn.btn-danger:hover {
    background-color: #ca7575;
  }
}
